.cl-btn {
  transition: all 1s ease !important;
  &__primary {
    color: var(--primary-foreground);
    background: linear-gradient(
      360deg,
      var(--primary) 0%,
      var(--primary-bolder) 100%
    );
    box-shadow: inset 0 1px 0px 0 rgba(255, 255, 255, 0.33),
    0 0 0px 1px rgba(2, 113, 219, 1), 0 3px 4px -1px rgba(6, 127, 243, 0.95);
  }
}
.cl-btn:active {
  background: linear-gradient(
    360deg,
    var(--primary-hovered) 0%,
    var(--primary-bolder) 100%
  ) !important;
}
